<div class = "d-flex flex-column align-items-center pt-4" style="height:100vh;background-image:url('/img/bgFooter.jpg');background-repeat: no-repeat;background-position: center;background-size: cover;">
    <div class="container">
        <h2>Lista de Cartegorias</h2>
        <hr>
        <a href ="/admin/newcartegory"><button class = "btn btn-success">Nova Cartegoria</button></a>
    </div>
</div>