<div class="container">
    <div class="card mx-auto text-center mt-5" style="width: 80%;">
        <h3>Painel do Admin</h3>
        <div class="d-flex flex-row justify-content-between mt-4 mb-4">
            <div class="card pt-3" style="width: 40%; margin-left:30px;">
                <p class="lead"><strong>Posts</strong></p>
                <p>Gerencie aqui os seus posts, excluindo, alterando, ou adicionando um novo, e gere mais conteúdo pro seu blog!</p>
                <div class="text-center">
                    <img src="https://br.freepik.com/vetores-gratis/facebook-mobile-post-com-design-plano_2387362.htm#page=1&query=posts%20blog&position=39" class="img-thumbnail">
                </div>
            </div>
            <div class="card" style= "width:40%; margin-right:30px;">
                safads
            </div>
        </div>
    </div>
</div>