<div class="d-flex p-2 bd-highlight flex-row justify-content-around align-items-start align-self-start flex-wrap footer" style = "background-color:#212529; color:white; width:100%;">
    <div class="p-2 bd-highlight">
        <p class="lead text-break">Newsletter</p>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="p-2 bd-highlight">
        <p class="lead text-break">Social Media</p>
        <a href="https://www.linkedin.com/in/murillo-santhiago-334b591b5/" class="mx-2"><img src="/img/linkedin.png" class="rounded float-start"/></a>
        <a href="https://github.com/MurilloSSJ" class="mx-2"><img src="/img/github.png" class="rounded float-middle" /></a>
        <a href="https://www.instagram.com/murillo_ssj/" class="mx-2"><img src="/img/instagram.png" class="rounded float-end" /></a>
    </div>
    <div class="p-2 bd-highlight">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style = "color:white!important">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style = "color:white!important">Cartegorias</a>
            </li>
            {{#if user}}

            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="#" style = "color:white!important">Login</a>            
            </li>
            {{/if}}
        </ul>
    </div>
</div>