{{#if successMSG}}
    <div class="alert alert-success alert-dismissible position-absolute text-center mx-auto" style="width: 60%;">{{successMSG}}</div>
{{/if}}

{{#if errorMSG}}
    <div class="alert alert-danger alert-dismissible position-absolute text-center mx-auto" style="width: 60%;">{{errorMSG}}</div>
{{/if}}