<div class="container my-5 card pt-4" style="min-height: 100vh;">
<h2 class="text-center mb-3">{{post.title}}</h2>
<hr class="mx-auto" width="30%">
<div class="mx-auto" style="width: 60%;">
    <p>{{post.content}}</p>
    <small><strong>{{post.cartegory.nome}}</strong></small>
    <br>
    <small>{{post.date}}</small>
</div>
<div class="text-center mt-5">
    <a href="/"><button class="btn btn-primary">Voltar</button></a>
</div>
</div>