<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
<div class="container card " style="width:30%">
    <div class="card-body">
        <form method="POST" action="/users/confirmalogin">
            <div class="mb-3">
                <label class="label-control" for="login">Login</label>
                <input class="form-control" name="login" type="text" required>
            </div>
            <div class="mb-3">
                <label class="label-control" for="password">Senha</label>
                <input class="form-control" name="password" type="password" required>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-success mb-4" type="submit">Fazer Login</button>
                <a href="/users/registro"><button class="btn btn-primary mx-3 mb-4" type="button">Registrar-se</button></a>
            </div>
        </form>
    </div>


</div>
</div>