{{#each erros}}
    <div class="alert alert-danger text-center mt-4 mx-auto" style="width: 60%;">{{texto}}</div>
    {{else}}
{{/each}}
<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
<div class="container card " style="width:30%">
    <div class="card-body">
        <form method="POST" action="/users/confirmaregistro">
            <div class="mb-3">
                <label class="label-control" for="login">Login</label>
                <input class="form-control" name="login" type="text" required>
            </div>
            <div class="mb-3">
                <label class="label-control" for="email">Email</label>
                <input class="form-control" name="email" type="email" required>
            </div>
            <div class="mb-3">
                <label class="label-control" for="password">Senha</label>
                <input class="form-control" name="password" type="password" required>
            </div>
            <div class="mb-3">
                <label class="label-control" for="passwordconfirm">Repita a senha</label>
                <input class="form-control" name="passwordconfirm" type="password" required>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-success mx-3 mb-4" type="submit">Registrar-se</button>
                <a href="/users/login"><button class="btn btn-primary mb-4" type="button">Fazer Login</button></a>
            </div>
        </form>
    </div>


</div>
</div>